body {
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    padding-top: 50px;
    padding-bottom: 20px;
    font: 12px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}

.breadcrumb.breadcrumb-o {
    background: none;
    margin: 12px auto;
    padding: 8px 0;
    color: #777;
}

.breadcrumb.breadcrumb-o>.active {
    color: black;
}

.course-detail-section {
    position: relative;
    padding: 15px;
}

.es-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
}

.course-detail-section .course-detail-top {
    padding-right: 130px;
    padding: 10px;
}

.blockquote-title-p {
    font-size: 14px;
}

.es-section {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e4ecf3;
}

.nav-btn-tab {
    position: relative;
    padding-right: 80px;
    /*border-bottom: 1px solid #f5f5f5;*/
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.nav.nav-tabs {
    position: relative;
    margin-bottom: 25px;
    border-color: #f5f5f5;
}

.nav-btn-tab .nav.nav-tabs {
    border: none;
    margin-bottom: 0;
}

.panel-default {
    padding: 0 15px;
    border-color: #e4ecf3;
}

.panel-default>.panel-heading {
    position: relative;
    font-size: 16px;
    padding: 10px 0;
    line-height: 30px;
    background: #fff;
    /*border-bottom: 1px solid #f5f5f5;*/
}

.panel-default>.panel-heading .panel-title {
    padding: 5px 0;
    color: #313131;
    font-size: 12px;
}

.panel-default>.panel-body {
    position: relative;
    padding: 15px 0;
}

.es-piece {
    margin-bottom: 0px;
}

.es-piece>p {
    margin: 0px;
}

.course-detail-content .es-piece {
    margin-bottom: 0px;
}

.es-piece .piece-header {
    position: relative;
    margin: 5px auto 20px;
    padding: 0 30px 0 15px;
    color: #313131;
    font-size: 14px;
}

.piece-header-title {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 13px;
    border-left: 5px solid #eee;
}

.piece-body {
    margin: 0;
    padding: 0;
}

.piece-body-content {
    margin: 2px auto 20px;
    padding: 0 0 0 10px;
    line-height: 200%;
    font-weight: 400;
    font-size: 12px;
}

.piece-body-code-example {
    margin: 2px auto 20px;
    padding: 0 0 0 50px;
    font-size: 12.5px;
}

.piece-body-code-example-code-description {
    padding-left: 20px;
    font-size: 98%;
}

.tab-pane>.es-piece>.alert-info {
    margin-top: 30px;
}